[2021-11-24 08:51] sm43 commented on #942
/assign

[2021-11-25 16:53] #942 closed

[2021-11-30 01:36] kevydotvinu commented on #948
/assign

[2021-12-01 09:02] HeavyWombat opened #954 "Write missing E2E test for Git URL rewrite feature"
The Git URL rewrite feature is only covered by unit tests. However, the build controller is using the Git step and can set the flag for enabling Git URL rewriting so this needs to be tested in an E2E test as well.

The setup is as follows:
- Controller logic for Git URL rewrite is disabled by default through an [environment variable](https://github.com/shipwright-io/build/blob/f570d466b6f53ccaece0

[2021-12-06 07:24] lizzzcai opened #955 "Fail to build from private repository"
Hi, I try to build from a private GitHub repo but facing some errors in taskrun.

below are my YAML:
[code]

[code]

[code]

Below is the error from taskrun:

[code]

version info
[code]

[2021-12-06 12:59] HeavyWombat commented on #955
We recently rewrote this part of the Git wrapper step to not rely on a Git config change. PR was #952. Any chance you could try your setup with Shipwright Build at this code level? It is a recent change, so it is not included in a release yet.

[2021-12-07 07:33] lizzzcai commented on #955
Hi Matthias, thanks for your update. If this issue is fixed in the next release, then probably I will try it out in the next release. Perhaps ShipWirght can consider providing an option to install the latest main branch version (release on every successful merge into main) so that the user can try it out easily.

[2021-12-07 08:34] SaschaSchwarze0 commented on #955
You can try the nightly release: https://github.com/shipwright-io/build/releases/tag/nightly

[2021-12-08 04:26] lizzzcai commented on #955
Thanks @SaschaSchwarze0 @HeavyWombat , have tried out the nightly release and it is working.I will close this issue.

[2021-12-08 04:26] #955 closed

[2021-12-09 05:37] #892 closed

[2021-12-09 19:13] #910 closed

[2021-12-09 20:48] SaschaSchwarze0 commented on #907
PR is merged.

[2021-12-09 20:48] #907 closed

[2021-12-10 19:11] adambkaplan opened #963 ""Action Required" release note missed by release generator script"
Our Tekton bump in #958 may have marked the first time we added an "action required:" release note. It appears that this wasn't picked up by our release notes generator.

See https://github.com/shipwright-io/build/runs/4487095280?check_suite_focus=true

/kind cleanup

[2021-12-21 07:28] wanjunlei opened #967 "shipwright v0.6.0 cannot run on k8s1.19"
According to the [official documentation](https://github.com/shipwright-io/build/tree/v0.6.0#dependencies), shipwright v0.6.0 supports running on k8s 1.17, 1.18, and 1.19, but in the process of my testing, I found that shipwright v0.6.0 will have the following errors when running under k8s1.20 (not included).

If the `spec.source.bundleContainer` of `Build` is nil, an error will occur when creatin

[2021-12-21 14:02] jfdenise commented on #811
@sbose78 , since some time I didn't try shipwright. I am currently validating that our s2i builder image can be used with the s2i strategy. I am still running in this issue. I checked https://github.com/shipwright-io/build/blob/main/samples/buildstrategy/source-to-image/buildstrategy_source-to-image_cr.yaml and there is no possiblity to provide parameters to the s2i build.
Is it something you plan

[2021-12-22 08:55] wanjunlei opened #968 "Does shipwright support access to Github with token?"
I am using shipwright v0.7.0 to build Github's private repository. I created a secret containing `username` and `password`, and then the `step-source-default` reported the following error:

[code]

Then I create a secret include `token`, the `step-source-default` reported the following error:

[code]

Does shipwright support access to Github with tokens? How should I configure the secret?

[2021-12-23 14:59] lizzzcai opened #969 "Fail to create task after delete credentials"
Hi, I am trying to create a Build CR with output `credentials` (do-secret) to a private registry. The buildRun is working fine.

After that, I removed the `credentials` (do-secret) from my build CR, the buildRun still working. (somewhere my credential was cached).

If I deleted my `credentials` (do-secret), the buildRun is failed (I didn't mention the credential in the Build CR already). Below is

[2021-12-30 10:10] #948 closed

[2022-01-06 22:39] adambkaplan opened #976 "Inline scripts in build strategy steps"
## Feature Request

Build strategy steps should support inline scripts, along the lines of Tekton's `script` instruction for task steps [1].
Most build strategies run more complex behavior by invoking bash as the base command, with args that inline a script via a heredoc.
Ex - the results step of our buildpacks strategy [2].

This should probably require a SHIP for full discussion.

[1] https://te

[2022-01-06 22:39] adambkaplan commented on #976
/kind feature

[2022-01-10 14:35] SaschaSchwarze0 commented on #968
Hi @wanjunlei, thank you for the feedback. I think you would create a basic-auth kubernetes secret like you did before with username and password, and you now take the personal access token as password. But, something we have not yet tested. But, also something that we should get into our documentation given this is a common scenario.

If you can try with the personal access token as password and

[2022-01-12 14:12] adambkaplan commented on #976
Most notable is that Tekton's `script` does not support its variable substitution feature. There is a TEP in the works to add this capability: https://github.com/tektoncd/community/pull/596

[2022-01-12 14:17] adambkaplan commented on #976
Adding this to the general backlog - this is something we could add as a feature in a v1 API.

[2022-01-12 14:18] adambkaplan commented on #969
/kind question

[2022-01-12 14:19] adambkaplan commented on #969
/assign @SaschaSchwarze0

[2022-01-12 14:25] adambkaplan commented on #968
I believe this is the correct answer - we have documentation in the build repository on how to do this: https://github.com/shipwright-io/build/blob/main/docs/development/authentication.md#basic-authentication

[2022-01-12 14:28] adambkaplan commented on #968
/assign @adambkaplan

[2022-01-12 14:40] adambkaplan commented on #967
/kind bug

I'm not sure if #945 will address this - we will need to check the current state of this PR.

[2022-01-12 14:40] adambkaplan commented on #967
/assign @adambkaplan

[2022-01-12 14:43] adambkaplan commented on #963
The script that drafts the release notes is in our `.gitub` directory. I believe this may be the offending line:

https://github.com/shipwright-io/build/blob/main/.github/draft_release_notes.sh#L48

[2022-01-12 14:46] adambkaplan commented on #963
Note that now we have moved to GitHub Actions and publish to `ghcr.io`, contributors can test our release scripts in their own GitHub forks!

[2022-01-12 14:47] adambkaplan commented on #954
/kind cleanup

[2022-01-12 14:55] adambkaplan commented on #954
Our current test framework doesn't have a mechanism that lets us update the build controller's configuration and roll out a new deployment. Tests with extra configurations also need to run serially so that the new configuration doesn't conflict with other features/tests.

[2022-01-12 18:03] SaschaSchwarze0 commented on #969
Hi @lizzzcai, thank you for trying Shipwright. You hit one of our known weak points. :-)

What happens is that when you create a BuildRun, the referenced container registry secret (mainly `.spec.output.image.credentials.name`) gets still passed to the build strategy code through Tekton's creds-init machinery. This requires us to add the secret to a ServiceAccount that we set on the Tekton TaskRun.

[2022-01-14 03:25] lizzzcai commented on #969
Thanks @SaschaSchwarze0 , I have tested it and it is working. I will close the issue.

[2022-01-14 03:25] #969 closed

[2022-01-19 09:44] SaschaSchwarze0 opened #983 "make install-apis sometimes fails"
`make install-apis` intermittently fails with the following error:

[code]

We should address this as it causes PR runs to fail. In particular this `kubectl wait` fails:

https://github.com/shipwright-io/build/blob/5afa4c37c56f6c0c34e010327dae1550e53a9749/Makefile#L231

[2022-01-19 14:54] SaschaSchwarze0 commented on #832
The update to the v0.6.2 version of controller-gen imo harminized this (= always uses line breaks). @gabemontero can you confirm that you can run this with the right version of controller-gen these days also on your machine without causing changes to line breaks?

[2022-01-19 15:35] gabemontero commented on #832
Confirmed!!

Added a new `Foo string` field to the `BuildSpec` and `make generate` only made the additions for my new field, and did not reformat existing fields.

Good catch - thanks @SaschaSchwarze0

closing this out

[2022-01-19 15:35] #832 closed

[2022-01-19 18:48] gabemontero opened #985 "convert waiter from file monitor to timer/ticker combination"
We could maximize code reuse, via golang constructs of Timer and Ticker, and convert cmd/waiter/waiter.go from https://github.com/shipwright-io/build/pull/934 and its loop on the PID file maintenance.

Instead, you can have a single select with cases for both the Timer and Ticker.

1) the Timer would capture the current timeout capability.  If it pops, it stops/cancels the Ticker, and the waiter g

[2022-01-20 13:55] SaschaSchwarze0 opened #988 "Update BuildAh build strategy"
After #975 is merged, we should update the BuildAh strategy to change the parameters introduced in #959 to arrays and to add build-args. An e2e test should be added. Details can be found in https://github.com/shipwright-io/build/pull/959#issuecomment-1017525917.

[2022-01-20 14:00] SaschaSchwarze0 commented on #874
When we update to Ginkgo 2, we should use the new [Serial decorator](https://onsi.github.io/ginkgo/#the-serial-decorator) for the Waiter test cases. References:

- https://kubernetes.slack.com/archives/C019ZRGUEJC/p1642678242001400

[2022-01-20 15:45] gabemontero commented on #985
OK after having looked at the merged code in my editor (easier for me to visualize than github PR code diff presentation :-) ) and better seeing/realizing the multi process nature of `waiter start` then `waiter done`, I now realize this change is really untenable.  Certainly if we constructed a multiple process communication to facilitate the timer/ticker, it would be no simpler than the current f

[2022-01-20 18:24] adambkaplan commented on #967
Unfortunately, I do not think we are able to issue a patch release for operational reasons. Shipwright is an incubating, community-driven project with "alpha" support guarantees. This means that we as a community are free to make breaking changes in each release, and we do not make any promises when it comes to backporting bug fixes to prior releases. As this project grows and matures, we may cons

[2022-01-26 14:21] adambkaplan opened #991 "Follow Ups - ghcr.io migration"
In 0.7.0, we moved most of our release images from quay.io to ghcr.io (#913)  to support cosign image signatures (#907).

Now that this is done, we should remove the remaining images to ghcr.io and remove any long-lived Quay credentials.

- [x] move bundle test images
- [ ] cleanup anything that still expects quay.io (incl deleting GitHub secrets)

[2022-01-26 14:22] adambkaplan commented on #913
I opened #991 to cover the remaining work. Closing this and adding it to the v0.7.0 milestone.

[2022-01-26 14:22] #913 closed

[2022-01-26 14:35] adambkaplan commented on #922
Closing this issue as done, completed in v0.7.0. The portion related to deprecating/removing `spec.builder` is addressed in #935.

[2022-01-26 14:35] #922 closed

[2022-01-26 14:42] adambkaplan commented on #689
GitHub actions recently added new features that allow you to access GitHub tokens with narrowly scoped permissions. In theory we can use this to obtain a token that has permissions to pull from private repositories associated with this org, with no need for dedicated "robot accounts" with permanent credentials.

[2022-01-28 11:30] otaviof opened #993 "[Waiter] Data Upload Checksum"
Using the `BuildSource` type `LocalCopy` injects a `waiter` container in order to stream local data to the build pod, where currently the user can inform a timeout (via `.spec.sources[].timeout`).

We should improve this process and verify the checksum of the payload streamed, thus we can rule out any inconsistencies.

Some initial open questions I would like to share:
- How the CLI can (reliably)

[2022-01-28 14:11] otaviof opened #994 "Local-Copy vs. Output-Image Overwrite"
I would like to raise something for discussion, please. The initial use-case indented for a "Local Copy" `BuildSource` is to [aid the developer's inner loop](https://github.com/shipwright-io/cli/blob/main/docs/local_source_upload.md), however, at the end of this process, the final image would be built from the primary repository branch (for instance `main`).

With that said, should we validate the

[2022-02-02 02:13] kevydotvinu commented on #983
/assign

[2022-02-02 10:47] SaschaSchwarze0 commented on #994
Yep, +1. I also had this concern but not a good idea so far. Enforcing the BuildRun to specify an image makes imo sense if the Build specifies sources. The Build could also be intentionally created to use local sources and have no source/sources set (should be possible). Then, it is fine if the BuildRun that uses LocalCopy does not overwrite the output image.

This could be an opt-out behavior on

[2022-02-03 06:31] otaviof commented on #994
Indeed! When the `BuildRun` provides `.spec.source` or `.spec.sources[]` overwriting the original parent `Build` repository... the admin should be able to prevent this behavior.

Indeed! When the parent `Build` is set to `LocalCopy` by default, the `BuildRun` should be able to push over the `Build`'s `.spec.output.image`.

Yes, indeed. I liked the scenarios you describe here, those should be cover

[2022-02-04 09:49] SaschaSchwarze0 commented on #963
Done by https://github.com/shipwright-io/build/pull/996, right @gabemontero ?

[2022-02-04 13:54] gabemontero commented on #963
correct @SaschaSchwarze0

[2022-02-04 13:54] #963 closed

[2022-02-07 12:32] #988 closed

[2022-02-09 14:18] qu1queee commented on #994
From grooming, we would like to continue discussing here, before moving an actionable item to any milestone.

[2022-02-09 14:24] qu1queee commented on #993
From grooming, the problem to tackle is to be able to understand when the data was done with the streaming, without relying on the waiter with timeout. Keeping this one for triage.

[2022-02-09 14:29] qu1queee commented on #983
From grooming session, moving this to the next v0.9.0 milestone.

[2022-02-09 14:34] qu1queee commented on #954
From grooming, keeping this one here for more feedback. There seems to be a dependency here with https://github.com/shipwright-io/build/issues/874 . So we should prioritize on https://github.com/shipwright-io/build/issues/874.

[2022-02-09 14:37] qu1queee commented on #874
/assign dalbar

[2022-02-23 14:23] adambkaplan commented on #586
/lifecycle stale

[2022-02-23 21:31] HeavyWombat commented on #991
Once [sample-go #9](https://github.com/shipwright-io/sample-go/pull/9) is merged, we can replace all occurrences of `quay.io/shipwright/source-bundle:latest` with `ghcr.io/shipwright-io/source-bundle:latest`.

[2022-02-24 13:39] SaschaSchwarze0 commented on #991
@qu1queee @adambkaplan I think one of you needs to clear the secrets in the build repo now as the final step.

[2022-02-25 07:21] qu1queee commented on #991
@SaschaSchwarze0 the only secrets left are used in https://github.com/shipwright-io/build/blob/aeea9d80847105cad3a0f35d8ce7c513a365bd70/.github/workflows/base-images.yaml#L28 .

[2022-02-25 08:00] SaschaSchwarze0 commented on #991
Those are fine. So, if any of you two confirms that we have no quay secrets anymore in the repository settings of this repo, then I think we can wrap this issue up and close it.

[2022-02-25 09:23] qu1queee commented on #991
well, there is indeed a deploy key, deleted. Pls close

[2022-02-25 12:39] #991 closed

[2022-03-03 14:08] sb-ev commented on #169
So this means, there currently is no possibility to use a custom CA for my private container registry, or did I get that wrong?

[2022-03-03 14:13] SaschaSchwarze0 commented on #169
Nothing out of the box, but you can try to customize the build strategy, see https://kubernetes.slack.com/archives/C019ZRGUEJC/p1645000201441049?thread_ts=1644959006.747239&cid=C019ZRGUEJC for the idea.

[2022-03-09 14:06] SaschaSchwarze0 commented on #165
Ship for this: https://github.com/shipwright-io/community/pull/53

[2022-03-09 14:08] SaschaSchwarze0 commented on #421
We removed `spec.runtime`

[2022-03-09 14:08] #421 closed

[2022-03-09 14:09] #967 closed

[2022-03-09 14:11] SaschaSchwarze0 commented on #968
From grooming: we will enhance the documentation to mention that repositories move away from password support towards token support instead, and link to the token documentation of the popular providers (GitHub, GitLab).

[2022-03-16 20:11] #874 closed

[2022-03-22 10:52] lizzzcai opened #1017 "trigger BuildRun when source is updated"
Hi Shipwright team, want to check if Shipwirght support trigger then buildrun by some webhook or GitHub action or Shipwirght monitoring the source branch that when my source branch is updated, automatically trigger a buildrun to build the new image with the latest changes. If yes, is there any example of this? Thanks.

[code]

[2022-03-22 18:03] gabemontero commented on #1017
please do visit https://github.com/shipwright-io/community/pull/68 @lizzzcai and provide any comments etc. on the approach @otaviof is introducing

thanks.

[2022-03-22 18:03] #1017 closed

[2022-03-25 17:14] adambkaplan opened #1023 "Include RBAC for Edit Users"
# Feature Request

When the Shipwright Build release is applied, the manifest should include a `ClusterRole` that makes it easy for developers to build applications with Shipwright - namely, granting permission for the following:

- List `clusterbuildstrategies` (perhaps `get` as well?)
- Full permissions for `buildstrategies` (excluding status updates)
- Full permissions for `builds` (excluding s

[2022-03-25 17:44] adambkaplan opened #1024 "Reason "CoundNotGetTask" Provided if TaskRun Creation Fails"
# Bug Report

**Description**

If the `TaskRun` for the associated `BuildRun` cannot be created, the listed failure reason is `CouldntGetTask`. This failure reason is misleading if the underlying `TaskRun` can't be created in the first place. This can happen, for instance, if the referenced build strategy requires additional security capabilities that are not granted to the user or service account

[2022-03-29 10:06] SaschaSchwarze0 opened #1028 "Follow-up on BuildAh image digest logic"
Follow-up of [Fix BuildKit and BuildAh image digest extraction #1026](https://github.com/shipwright-io/build/pull/1026#discussion_r836773321).

BuildAh locally calculates an images digest before pushing the image. Compared to that, an image that is only locally present after `docker build`, has no digest until it gets pushed.

The problem is that a local digest cannot be correct, it must be create

[2022-03-29 11:27] qu1queee commented on #1028
@gabemontero fyi

[2022-03-29 13:35] gabemontero commented on #1028
@nalind per our discussion in scrum, here is the shipwright tracking issue wrt to the buildah image digest logic

@SaschaSchwarze0 @qu1queee I think you all have met before, but @nalind is part of the team at RH that among other things handles buildah.  He is their rep on the scrum of the team with @adambkaplan @otaviof myself and others.

There was some updates on the buildah issue yesterday star

[2022-03-29 13:36] gabemontero commented on #1028
as an fyi @nalind the "workaround" employed by @SaschaSchwarze0 is at https://github.com/shipwright-io/build/pull/1026/files

[2022-03-29 15:21] nalind commented on #1028
To try to recap, the image that's been built has a manifest that can list its layers, their types and sizes and digests, in uncompressed form.  The layer blobs mentioned in the manifest generally aren't stored in that form on disk.  The contents of the blobs have been stored in exploded form in the filesystem for use as layers, and their uncompressed forms can be reconstructed using those contents

[2022-03-29 15:49] SaschaSchwarze0 commented on #1028
Cool. We will try that solution.

[2022-03-31 13:04] #1028 closed

[2022-03-31 17:02] qu1queee opened #1031 "Inconsistencies with local git binary when running unit tests"
I locally run unit-tests and I got failures with this [test case](https://github.com/shipwright-io/build/blob/main/cmd/git/main_test.go#L446-L470), it seems the `git clone` behaviour was different between github and gitlab endpoints, leading to a failing test:

For both [github](https://github.com/shipwright-io/sample-go-nonexistent.git) and [gitlab](https://gitlab.com/gitlab-org/gitlab-runner-non

[2022-03-31 18:36] HeavyWombat commented on #1031
Sounds interesting, could be also Git binary version related.

[2022-04-04 09:38] #677 closed

[2022-04-06 07:35] #1023 closed

[2022-04-06 13:42] SaschaSchwarze0 commented on #1024
From Grooming: `CreatePodFailed` would be even a better reason because we successfully create the TaskRun and Tekton fails to create the Pod.

[2022-04-06 13:46] SaschaSchwarze0 commented on #1031
From grooming: might be related to Git version or how credentials are created in the config.

[2022-04-11 13:39] SaschaSchwarze0 opened #1039 "Automate updates of tool versions in sample build strategies"
Our sample build strategies are using a set of oss tools like Kaniko and Trivy. Atm we are manually updating the sample build strategies, typically before doing a Shipwright release, to keep their version up-to-date. Example PR: https://github.com/shipwright-io/build/pull/1036

This should be replaced by an automatic periodic (daily) GitHub action that retrieves the latest stable version of the re

[2022-04-12 11:23] #173 closed

[2022-04-19 07:29] kevydotvinu commented on #1039
/assign

[2022-04-19 07:41] #983 closed

[2022-04-19 15:49] #1031 closed

[2022-04-20 13:20] qu1queee commented on #976
From Grooming: This might be a good candidate for v0.10.0. Having this just implies support for the `script` feature in TaskRuns and probably documenting this support in our strategies. This does not imply an override of existing strategies in favor of the `spec.script`.

[2022-04-20 13:24] qu1queee opened #1041 "Implement Shipwright Managed Push"
_Idea_:

From https://github.com/shipwright-io/community/blob/main/ships/0026-shipwright-managed-push.md, this is the implementation part of SHIP 0026.

[2022-04-20 13:27] qu1queee commented on #171
From Grooming: We would like to aim for the following:

- A SHIP on the feature that includes a well-define proposal for the API that supports the definition of a `tag policy` on generated container images.
- We aim here for the simplest policy and we do not expect a full spectrum of policies. This should come in the future, once we have an initial API support in Builds & BuildRuns.

[2022-04-20 13:36] qu1queee opened #1042 "Revisit existing documentation"
Per Grooming, we want to revisit the current docs in this repo. We are looking for:

- typos
- markdown linters warnings
- broken links

Aim is to keep our docs optimal, as they will serve as the source of truth for our website.

[2022-04-25 13:58] SaschaSchwarze0 opened #1047 "Investigate Dependabot improvements wrt release notes"
In [Enable dependabot updates #1044](https://github.com/shipwright-io/build/pull/1044), we enabled Dependabot updates for this repository. As part of that we changed the release notes linter to ignore Dependabot PRs because the Dependabot configuration does not allow to define the PR description and therefore cannot have a release note section.

The side effect of that is that release notes will n

[2022-04-29 17:43] pcgeek86 opened #1051 "Feature Request: Multiple outputs for Shipwright builds 🚢"
If I want to push a container image to multiple registries, I currently have to define and execute multiple `Build` blueprints. However, it would be nice to have the ability to specify an array of destinations / outputs under the `output` property, rather than being limited to just a single output.

[2022-05-02 13:34] adambkaplan commented on #1051
@pcgeek86 we discussed this in the community meeting on Monday. Supporting multiple tags to the same container registry makes sense, and is potentially feasible after the implementation of #1041 (managed image push).

Pushing to multiple registries presents a challenge wrt managing credentials. Can you please explain what you are trying to do pushing to multiple container registries?

[2022-05-04 13:12] qu1queee commented on #1047
From grooming: For anyone picking-up this one, it might be needed to modify the [draft_release_notes.sh](https://github.com/shipwright-io/build/blob/main/.github/draft_release_notes.sh) to look for specific PR's generated by dependabot.

[2022-05-06 09:42] SaschaSchwarze0 opened #1056 "Stop using CurrentGinkgoTestDescription"
Noticed the following in a [e2e log](https://github.com/shipwright-io/build/runs/6319693773?check_suite_focus=true):

[code]

[2022-05-10 06:41] SaschaSchwarze0 opened #1057 "Move to Go 1.18"
In the [community meeting on May 9th](https://github.com/shipwright-io/community/issues/84#issuecomment-1121106429), we decided that we can move to Go 1.18.

Updates are the same as in [the update to 1.17](https://github.com/shipwright-io/build/pull/950).

[2022-05-10 08:53] Pinolo commented on #625
I'd like to pick this issue as first-time contribution. I'll come back with some draft code in the next few days

[2022-05-10 09:04] SaschaSchwarze0 commented on #625
Thanks @Pinolo, you can also have a look at our [good-first-issue project](https://github.com/orgs/shipwright-io/projects/3) to find issues that we assessed to be a good start.

[2022-05-16 01:20] Pinolo commented on #625
EP created: https://github.com/shipwright-io/community/pull/86

[2022-05-19 14:29] #1057 closed

[2022-05-20 12:02] rolfedh opened #1066 "Docs: Missing samples?"
In https://shipwright.io/docs/api/build/#configuring-a-build,
the link in the following line is broken:
"spec.strategy - Refers to the BuildStrategy to be used, see the [examples](https://shipwright.io/docs/api/samples/buildstrategy)".

Does this simply an outdated path that should be pointing to https://github.com/shipwright-io/build/blob/main/test/buildstrategy_samples.go?
Or is the intention to

[2022-05-24 10:45] Pinolo commented on #625
My colleague @alessiopiazza and me put together a draft implementation. We know it doesn't look pretty, but we didn't feel like going for a refactoring without prior discussion. Waiting for feedback on the EP, too

[2022-05-26 01:36] adambkaplan opened #1070 "Clean up Nightly Releases"
The "nightly" release uses a tag whose SHA does not correspond to the current code. In addition, we have never cleaned up the assets on the release. As a result, we have almost 1,100 assets tagged to the release!

For the triggers repo, I would like to configure CI such that it always uses a "latest" or "nightly" release payload. This would help the project catch regressions faster.

[2022-06-22 10:00] SaschaSchwarze0 opened #1076 "Update to ubi9"
In https://github.com/shipwright-io/build/blob/main/.ko.yaml, https://github.com/shipwright-io/build/blob/main/images/git/Dockerfile, and https://github.com/shipwright-io/build/blob/main/images/waiter/Dockerfile we use ubi8 minimal.

ubi9 is now available. See https://catalog.redhat.com/software/containers/ubi9/ubi-minimal/615bd9b4075b022acc111bf5. Time for upgrade?

[2022-07-04 13:22] SaschaSchwarze0 opened #1080 "Buildpacks broken for Node.JS builds that have a package.json"
There was a recent change in the npm-install buildpack, [Make projectPath group-writable #362](https://github.com/paketo-buildpacks/npm-install/pull/362). This now runs a `chmod 0755` on the directory that contains the package.json.

But that requires you to be permitted to run this. In Shipwright, every NodeJS Paketo Buildpacks build fails unless somebody uses a contextDir. Without a contextDir,

[2022-07-04 14:59] FischerLGLN commented on #1080
I am having the same problem with nodejs and

[code]

[2022-07-06 15:00] SaschaSchwarze0 commented on #1080
Related Paketo issue: https://github.com/paketo-buildpacks/nodejs/issues/602. [Should be looked at soon:](https://paketobuildpacks.slack.com/archives/CUD6R3CPL/p1657118319141169?thread_ts=1656928327.653569&cid=CUD6R3CPL)

[2022-07-18 06:52] SaschaSchwarze0 commented on #1080
The latest full-builder from Paketo, v0.2.138, should be the fix (contains npm-install v0.10.1).

[2022-07-18 19:08] coreydaley commented on #866
/assign @aryaman02

[2022-07-19 11:21] coreydaley commented on #866
/assign @aryaman02

[2022-07-27 16:50] xiaocode commented on #169
Could you post the article here plz?I can not enter this slack workspace...

[2022-07-27 19:52] SaschaSchwarze0 commented on #169
Hi @xiaocode, you can join that Slack workspace here: https://slack.k8s.io/

The referenced post is:

For the time being, you will need to extend the Kaniko build strategy. Basically you'll need a step before build-and-push which takes the certificate from an environment variable coming from a secret, and stores it in a file in a shared volumeMount also used by the build-and-push step. And then us

[2022-08-07 11:12] tsusadivyago opened #1087 "Adding Binaries in CNB Images"
Hi,

I have a sample java based hello world spring boot Gradle project. I want to add other tools in the containers like wget, curl, and git.
I am using shipwright with paketo build packs to build images. I have a requirement to include binaries of other tools in the image.
For Ex: wget,curl,git in /usr/local/bin.

I have gone through a lot of workarounds:
-  Using custom buildpacks
- Creating a n

[2022-08-08 10:15] #1076 closed

[2022-08-10 13:20] SaschaSchwarze0 commented on #1087
From Grooming:

Paketo solutions:
- today: custom run image
- future: I remember that Paketo discussed how it could support the installation of OS packages. Main blocker was that the overall build process runs as non-root. Current status is unknown.

With Shipwright:
- Use a Dockerfile strategy
- In the future: we work on Triggers, eventually it will be possible to trigger a BuildRun of Build B wh

[2022-08-10 19:55] alanreynosov opened #1090 "step-prepare container exec format error in k3s raspberry pi (ARM64)"
Following README.md demo steps got this,

[code]

there's no ARM64 image for https://hub.docker.com/r/paketobuildpacks/builder/tags

[code]

I am going to take a look on how to build one for this architecture, but if there's someone who can provide a quick workaround will be welcome.

[2022-08-20 20:20] SaschaSchwarze0 commented on #1090
Hi @alanreynosov, thanks for using Shipwright. In our sample build strategies, we only consume tools like BuildKit, Kaniko - or Paketo Buildpacks. Those sample build strategies therefore inherit the platform support from those tools. And as you noticed, Paketo is only supported on amd64. That's also documented here: https://shipwright.io/docs/build/buildstrategies/#available-clusterbuildstrategies

[2022-08-20 20:20] #1090 closed

[2022-08-23 21:53] alanreynosov commented on #1090
Got it, I ran the wrong example, Thank you.

[2022-08-29 07:08] tsusadivyago commented on #1087
Hey, Thanks for the comment. We went ahead with the shipwright dockerfile strategy.

[2022-08-29 07:08] #1087 closed

[2022-08-30 13:00] tsusadivyago opened #1098 "Archive Shipwright Container Logs"
Hi Team,

Is there any method to archive the build logs of the build-and-push container from Shipwright?

[2022-08-31 14:24] MarckK opened #1100 "Shipwright logos added to CDF logos table"
Hi,

Please add Shipwright logos to the [CDF logos table](https://github.com/cdfoundation/artwork#cdf-logos).

Having them there helps others quickly see and use the correct logos.

Thank you!

[2022-09-02 18:46] SaschaSchwarze0 commented on #1080
This was resolved by Paketo.

[2022-09-02 18:46] #1080 closed

[2022-09-02 18:58] SaschaSchwarze0 commented on #1098
Hi @tsusadivyago, thanks for using Shipwright.

We have no archiving support for Shipwright at the moment and nothing planned.

I see the following options for you today:

1. We are running in Kubernetes. Any solution that scrapes logs of the pods of a Kubernetes cluster will also capture the logs of BuildRun pods.
2. We are based on Tekton. I personally like to use the Tekton Dashboards to look a

[2022-09-02 19:12] SaschaSchwarze0 opened #1103 "[BETA API] Add Beta APIs"
Add v1beta1 Go types to https://github.com/shipwright-io/build/tree/main/pkg/apis/build.

Make sure that clientsets are there: https://github.com/shipwright-io/build/tree/main/pkg/client/clientset

The controller will stay on v1alpha1. Also, the stored version will still be v1alpha1.

[2022-09-02 19:15] SaschaSchwarze0 opened #1104 "[BETA API] Implement conversion webhook for alpha-beta transformation"
Provide a conversion webhook for the alpha-beta transformation. https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/#webhook-conversion

This should be a separate binary in this project with a separate deployment.

[2022-09-02 19:18] SaschaSchwarze0 opened #1105 "[BETA API] Update documentation"
All documentation examples should be on the Beta API level.

[2022-09-02 19:19] SaschaSchwarze0 opened #1106 "[BETA API] Update sample build strategies, builds, and buildruns"
All samples in https://github.com/shipwright-io/build/tree/main/samples should use the Beta API. This will also require e2e test case changes.

Data in https://github.com/shipwright-io/build/tree/main/test/data can stay on v1alpha1.

[2022-09-02 19:22] SaschaSchwarze0 opened #1107 "[BETA API] Update controllers to use Beta API"
This can come after the Beta release v0.12.

Update controllers to work on the v1beta1 API objects. Changed the stored version to v1beta1. But keep the v1alpha1 version. Features that were deprecated in v0.11 can now be removed (HTTP source).

[2022-09-08 19:26] SaschaSchwarze0 commented on #516
Done with https://hackmd.io/BsPjvGFwQgmVeJRe6FJfMA

[2022-09-08 19:26] #516 closed

[2022-09-22 16:43] tsusadivyago commented on #1098
Hey, Thanks for the response. This is helpful.

[2022-09-22 16:43] #1098 closed

[2022-09-28 16:11] SihengCui opened #1116 "Unsupported type of credentials provided, either SSH private key or username/password is supported (exit code 110)"
For private HTTP git repositories, the name references a secret in the namespace that contains username and password.
[code]
[code]
Looking at the Pod, it is found that the container that pulls the code exist the following command
`/ko-app/git ... --secret-path /workspace/shp-source-secret`
I keep the container,  cd to the /workspace/shp-source-secret and find that there are two files `username` a

[2022-09-29 18:20] dheerajodha commented on #1116
Maybe this might help: https://github.com/shipwright-io/build/issues/968#issuecomment-1008932577

[2022-10-04 13:26] #968 closed

[2022-10-05 12:57] SaschaSchwarze0 commented on #1116
@SihengCui when you created the secret, where `xxxx` plain text or base64 encoded ? It should be the latter, or you use stringData to provide plain-text and the Kubernetes will encode it. Above mentioned PR improves our documentation as passwords are not supported anymore, but instead it must be a token.

[2022-10-10 01:23] SihengCui commented on #1116
emmm.. Do you mean that the password field is filled with the token string? But the git repo is a private Bitbucket. It seems that there is only password. In this case, is there any way to pass the certification?

[2022-10-10 06:57] SaschaSchwarze0 commented on #1116
I have never used BitBucket, but seems like will need some (doc?) changes based on https://support.atlassian.com/bitbucket-cloud/docs/use-oauth-on-bitbucket-cloud/#Cloning-a-repository-with-an-access-token. @SihengCui can you try what happens when you put x-token-auth as username into the secret and your access token as password?

[2022-10-10 08:55] SihengCui commented on #1116
There are something different with git repo using HTTP or HTTPS protocol.
I chose a non-existing domain name as my repo address `git.sihengcui.com`.

`    url: http://git.sihengcui.com/scm/serverless-example.git`
[code]

After that I just modified http to https.
`    url: https://git.sihengcui.com/scm/serverless-example.git`
It did not prompt "Unsupported type".
[code]
Could this be the cause ?

[2022-10-10 09:10] SihengCui commented on #1116
I put x-token-auth as username into the secret and your access token as password. And success pull the private repository from my github. The format of the secret is correct. When the url is replaced with `http://bitbucket.xxxxx`, even if the username and token are not replaced, a 401 authentication error should be returned instead of Unsupported type.

[2022-10-10 13:28] adambkaplan opened #1119 "Feature Discussion: Primary Support for Multi-Arch Builds"
# Feature Request

Provide a primary API/mechanism for users to declare that a build should be cross-compiled across multiple architectures, and combined into a manifest list.

## Background

Some build strategies support multi-arch builds directly through cross-compilation (example - ko). Others _could_ support multi arch builds directly through emulation (buildkit, buildah), or could use node se

[2022-10-19 13:18] SaschaSchwarze0 opened #1131 "Git source: prevent usage of a secret with HTTP protocol"
Related to #1116

In https://github.com/shipwright-io/build/blob/main/cmd/git/main.go#L487-L502, we have handling for the credential that is passed to the Git step and check if it matches the protocol. There, we ignored HTTP. What we decided is that we want a check and bail out with a clear error if HTTP is used with any type of credentials.

[2022-10-19 13:40] SaschaSchwarze0 opened #1132 "Git source: verify usage of BitBucket"
Related to #1116

We never actually tried to clone source from BitBucket. We should do that and especially try out their access tokens that are explained in https://support.atlassian.com/bitbucket-cloud/docs/use-oauth-on-bitbucket-cloud/#Cloning-a-repository-with-an-access-token. Today, when somebody clones using HTTPS with username/password, then we use [Git's credential helper](https://github.co

[2022-10-19 13:44] SaschaSchwarze0 opened #1133 "Git source: doublecheck logging of the source URL"
The BitBucket documentation is suggesting to use the username and password in the `git clone` command here: https://support.atlassian.com/bitbucket-cloud/docs/use-oauth-on-bitbucket-cloud/#Cloning-a-repository-with-an-access-token.

Shipwright users might now take that URL and put it into `.spec.source.url` of a Build. This might work but we will likely then print the password because we print the

[2022-10-27 08:28] #1039 closed

[2022-10-27 16:03] dheerajodha commented on #1116
Hi @SihengCui, if possible, can you help me by providing the exact yaml files you used as a step to reproduce this problem?
I want to try fixing this but I notice you'd added a few 'xxx' in parts of the yaml file above and I'm not sure which values to add there.

[2022-10-28 01:01] SihengCui commented on #1116
That's a private git address on an internal network. If you need to reproduce the problem, just request any of the HTTP repositories.

[2022-10-28 05:56] dheerajodha commented on #1116
Awesome, I'll do that. Thank you!

[2022-11-15 10:03] dalbar opened #1155 "BuildRuns without BuildRef can not be canceled"
## Description

The bug can be reproduced using the following steps:

1. create a buildrun with an embedded build spec:

[code]

2. patch `spec.state` to equal `BuildRunCanceled`

=> observe that BuildRun remains in running state and is not getting canceled

## Additional Context

@karanibm6 and I have triaged the bug to the BR predicates in the reconciler package. We will follow up with a PR to f

[2022-11-16 14:21] qu1queee opened #1157 "Bump go modules and CI to go v1.19"
Per grooming, no objections on moving from go v1.18 to v1.19(latest stable). This requires two changes:

- go.mod
- CI(any Github action using a go runtime)

[2022-11-16 14:55] qu1queee opened #1158 "SHP Logo not optimal with Github Dark Themes"
Coming from @HeavyWombat during Grooming. See attached screenshot:

<img width="897" alt="image" src="https://user-images.githubusercontent.com/4812480/202212646-85ddf94a-ccbd-4650-baa0-f7fd5b4c9da4.png">

The idea of this issue is to fix this, so that it looks like the following:

<img width="890" alt="image" src="https://user-images.githubusercontent.com/4812480/202214214-52c59515-7e95-447e-9185

[2022-11-17 14:53] #1155 closed

[2022-11-28 11:00] dilipk8 opened #1160 "Add a feature/functionality to reduce the image size using dockerslim"
Is it possible to reduce the size of the image that shipwright helps in building - using Dockerslim - [](https://github.com/docker-slim/docker-slim)
[](url)

[2022-11-30 14:13] SaschaSchwarze0 commented on #1160
From grooming:

Thanks @dilipk8 for bringing up the idea.

We do not have experiences with Dockerslim ourselves but only heard of it.

In general, Shipwright builds images as defined in its build strategy and the image that is produced can very likely also be targeted with dockerslim. But this would happen outside of Shipwright.

Thinking about having it integrated into Shipwright or a build strat